PORT=8000
NODE_ENV=production

DATABASE_URL=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=live-location-tracker
KAFKA_TOPIC=location-updates

OR

KAFKA_BROKER=live-location-kafka-your-project.aivencloud.com:24947
KAFKA_CLIENT_ID=live-location-tracker
KAFKA_TOPIC=location-updates
KAFKA_USERNAME=avnadmin
KAFKA_PASSWORD=your-aiven-password

CLIENT_URL=http://localhost:8000